#scoreBoard {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    height: 500px;
    width: 90%;
}

.teams {
    display: flex;
    justify-content: center;
    text-align: center;
}

.game{
    border: 3px solid rgb(29, 237, 240);
    transition: 400ms background-color ease-in-out 50ms;
}

.timer {
    display: flex;
    text-align: center;
    border-top: 3px solid rgb(29, 237, 240);
    font-size: 14px;
}

#period {
    width: 25%;
    border-right: 3px solid rgb(29, 237, 240);
}

#clock {
    width: 80%;
}
.game:hover {
    background-color: rgb(29, 237, 240);
    cursor: pointer;
}